<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/account.css">
    <title>Update Account</title>
</head>
<body>
    <div class="form-container">
        <a href="/account" class="button back-btn">Back</a>
        <form action="/updateAccount" method="POST">
            <input class="form-field" type="text" name="userName" value="<%= userName %>" placeholder="Username" required>
            <input class="form-field" type="email" name="userEmail" value="<%= userEmail %>" placeholder="Email" required>
            
            <div class="password-group">
                <input class="form-field" type="password" id="password" name="userPassword" placeholder="Password" required>
                <button type="button" class="form-button" onclick="togglePasswordVisibility()">Show</button>
            </div>
            
            <input class="form-field" type="date" name="dob" value="<%= dob %>" required>
            <button type="submit" class="submit-btn">Submit</button>
        </form>
        <script>
            function togglePasswordVisibility() {
                var passwordField = document.getElementById("password");
                if (passwordField.type === "password") {
                    passwordField.type = "text";
                } else {
                    passwordField.type = "password";
                }
            }
        </script>
    </div>
    
    
</body>
</html>